@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #2e8b57;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  color: white;
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline-block;
  position: relative;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 5px 0;
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

nav ul li a:hover::after,
nav ul li.active a::after {
  width: 100%;
}


main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#content {
  display: flex;
  flex-direction: column;
  width: 65%;
}

article {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

article img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

aside {
  width: 30%;
}

aside img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

aside p {
  font-size: 1.1em;
  color: #333;
}

footer {
  text-align: center;
  background-color: #2e8b57;
  color: white;
  padding: 10px 0;
}


@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  #content,
  aside {
    width: 100%;
  }

  article {
    margin-bottom: 20px;
  }
}